<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Happier Than Ever</title>
  <link rel="preconnect" href="https://fonts.googleapis.com"> 
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
<link href="https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@1,300&display=swap" rel="stylesheet">
  <link href="{{ url_for('static',filename='css/album.css') }}" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class = "box-area"> 
      <header>
        <div class = "wrapper"> 
          <div class = "logo">
            <a href = "#">Euphoria Records</a>
          </div>
          <nav>
            <a href ="#">Home</a> <a href ="#">About</a> <a href ="#">Artists</a> <a href ="#">Cart</a> <a href ="#">Contact</a>
          </nav>
        </div>
        <form method="POST">
            <input type="hidden" name="username" value="{{username}}">
            <input type="hidden" name="album" value="{{album}}">
            <button name="favorite" value="favorite">Favorite</button>
        </form>

      </header>
      <div class = "banner-area">
        <h2>Happier Than Ever</h2>
      </div>
      <div class = "content-area"> 
        <div class = wrapper> 
          <div class = HTE_CD> </div>
        <div class = "tracklist">
          <meta charset="utf-8">
          <p yadda> 
            Tracklist:
            <br> 
            1. Getting Older
            <br> 
            2. I Didn't Change My Number 
            <br> 
            3. Billie Bossa Nova 
            <br> 
            4. my future 
            <br> 
            5. Oxytocin 
            <br> 
            6. GOLDWING 
            <br> 
            7. Lost Cause
            <br> 
            8. Halley's Comet 
            <br> 
            9. Not My Responsibility 
            <br> 
            10. OverHeated 
            <br> 
            11. Everybody Dies
            <br> 
            12. Your Power 
            <br>
            13. NDA 
            <br> 
            14. Therefore I Am 
            <br> 
            15. Happier Than Ever 
            <br> 
            16. Male Fantasy 
          </p>
        </div>
      </div>
    </div>
    
    <script src="script.js"></script>
  </body>
  
  </html>