                
<!DOCTYPE html>
<html>
    <head>
        
        <title>
            {% block title %}
            Artist
            {% endblock %}
        </title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="https://twemoji.maxcdn.com/2/svg/1f4fd.svg">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/artist.css') }}">
        
        <style>
            

        </style>

    </head>
    <body>
        
        <nav class="white">
            <div class="nav-wrapper">

                <ul class="left hide-on-med-and-down">
                    {% if session %}
                    <li><a href="">Profile</a></li>
                    <li>Welcome back, {{ session['username'] }}!</li>
                    {% else %}
                    <li>Register/Log in for more features!</li>
                    {% endif %}
                </ul>

                <a href="./" class="brand-logo black-text center" style="font-size: 40px;">Euphoria Records</a>

                <ul class="right hide-on-med-and-down">
                    {% if session %}
                    <li><a href="/logout">Log Out</a></li>
                    <li><a href="/favorites_page">View Favorites</a></li>
                    {% else %}
                    <li><a href="/login">Log In</a></li>
                    <li><a href="/signup">Sign Up</a></li>
                    {% endif %}
                    
                </ul>

            </div>
        </nav>

        <div class = "container">
            <div class="row">
                <div class="col s6 pull-l1">
                    <p class="desc">
                       "Grande was born on June 26, 1993, in Boca Raton, Florida, to Edward Butera, a graphic designer, and Joan Grande, a businesswoman. She took to singing and acting at a young age and made her way onto the local theater scene before she was a teenager. Her first big break came in 2008 when the 15-year-old landed the role of Charlotte in the Broadway production of 13, a play focusing on life growing up in New York City. The early role led to accolades, and Grande won a National Youth Theatre Association Award." 
                    </p>
                
                </div>
                
                
                <div class="col s6">
                    
                    <figure>
                        <figcaption><h4>Ariana Grande</h4></figcaption>
                        <div class="circular--landscape">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/d/dd/Ariana_Grande_Grammys_Red_Carpet_2020.png" alt="Grande" class="circle responsive-img">
                        </div>
                    </figure>
                    <form method="post" action="/artist">
                        <input type="hidden" name="artist" value="Ariana Grande">
                        <input type="submit" name="FAVORITE" value="CLICK TO FAVORITE ARTIST">
                        <!--<img src = "https://cdn.dribbble.com/users/1369921/screenshots/3647290/media/9ffd1132dce685a50ab33af3d03ba091.gif" width='20' height= '20'> -->
                    </form>
                </div>
            </div>
        </div>

        

        <div id = "artists" class="text-center">
            <h3 class="mb-5 font-weight-bold">Discography</h3>
                <div class="row">
                    <div class="col s3">
                        <figure2>
                            <figcaption>My Everything</figcaption>
                                <div class="square--portrait">
                                    <a href="https://www.qries.com/">
                                        <img src="https://upload.wikimedia.org/wikipedia/en/d/d5/Ariana_Grande_My_Everything_2014_album_artwork.png" alt="Grande">
                                    </a>
                                </div>
                        </figure2>
                    </div>
                    <div class="col s3">
                        <figure2>
                            <figcaption>Sweetener</figcaption>
                                <div class="square--portrait">
                                    <a href="https://www.qries.com/">
                                        <img src="https://upload.wikimedia.org/wikipedia/en/7/7a/Sweetener_album_cover.png" alt="Grande">
                                    </a>
                                </div>
                        </figure2>
                    </div>
                    <div class="col s3">
                        <figure2>
                            <figcaption>Positions</figcaption>
                                <div class="square--portrait">
                                    <a href="https://www.qries.com/">
                                        <img src="https://upload.wikimedia.org/wikipedia/en/a/a0/Ariana_Grande_-_Positions.png" alt="Grande">
                                    </a>
                                </div>
                        </figure2>
                    </div>
                </div>
                
        </div>

        <footer class="page-footer">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <h5 class="">Euphoria Records!</h5>
                        <p class="">123 Euphoria Ave</p>
                        <p class="">Washington, DC 20060</p>
                    </div>
                    <div class="col l4 offset-l2 s12">
                        <h5 class "black-text">Links</h5>
                        <ul>
                            <li>
                                <a class="" href="https://www.instagram.com/euphoriarecords">Instagram</a>
                            </li>
                            <li>
                                <a class="" href="https://www.twitter.com/euphoriarecords">Twitter</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <p>© 2021 Team Euphoria</p>
            </div>
        </footer>

        <!-- {% block body %}
        {% endblock %} -->

    </body>
</html>