                
<!DOCTYPE html>
<html>
    <head>
        
        <title>
            {% block title %}
            Artist
            {% endblock %}
        </title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="https://twemoji.maxcdn.com/2/svg/1f4fd.svg">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/artist.css') }}">
        
        <style>
            

        </style>

    </head>
    <body>
        
        <nav class="white">
            <div class="nav-wrapper">

                <ul class="left hide-on-med-and-down">
                    {% if session %}
                    <li><a href="">Profile</a></li>
                    <li>Welcome back, {{ session['username'] }}!</li>
                    {% else %}
                    <li>Register/Log in for more features!</li>
                    {% endif %}
                </ul>

                <a href="./" class="brand-logo black-text center" style="font-size: 40px;">Euphoria Records</a>

                <ul class="right hide-on-med-and-down">
                    {% if session %}
                    <li><a href="/logout">Log Out</a></li>
                    <li><a href="/favorites_page">View Favorites</a></li>
                    {% else %}
                    <li><a href="/login">Log In</a></li>
                    <li><a href="/signup">Sign Up</a></li>
                    {% endif %}
                    
                </ul>

            </div>
        </nav>

        <div class = "container">
            <div class="row">
                <div class="col s6 pull-l1">
                    <p class="desc">
                       "The Weeknd, originally Abel Tesfaye, broke into the music scene with the 2011 mixtape House of Balloons. He went on to work with Drake, Wiz Khalifa and others, while building his own career as an artist. In 2015, the Weeknd enjoyed huge success with the Grammy-winning album Beauty Behind the Madness, which boasted the hit single “Can’t Feel My Face.” His follow-up album, Starboy (2016), also won a Grammy and featured collaborations with artists such as Daft Punk. " 
                    </p>
                
                </div>
                
                
                <div class="col s6">
                    
                    <figure>
                        <figcaption><h4>The Weeknd</h4></figcaption>
                        <div class="circular--landscape">
                            <img src="https://i.guim.co.uk/img/media/73ec4373ed4f59ef1a1312176558752a5793529d/0_336_6552_3932/master/6552.jpg?width=1200&height=1200&quality=85&auto=format&fit=crop&s=b3a7881444203651628e94863df6c9de" alt="Weeknd" class="circle responsive-img">
                        </div>
                    </figure>
                    <form method="post" action="/artist">
                        <input type="hidden" name="artist" value="The Weeknd">
                        <input type="submit" name="FAVORITE" value="CLICK TO FAVORITE ARTIST">
                        <!--<img src = "https://cdn.dribbble.com/users/1369921/screenshots/3647290/media/9ffd1132dce685a50ab33af3d03ba091.gif" width='20' height= '20'> -->
                    </form>
                </div>
            </div>
        </div>

        

        <div id = "artists" class="text-center">
            <h3 class="mb-5 font-weight-bold">Discography</h3>
                <div class="row">
                    <div class="col s3">
                        <figure2>
                            <figcaption>Starboy</figcaption>
                                <div class="square--portrait">
                                    <a href="https://www.qries.com/">
                                        <img src="https://upload.wikimedia.org/wikipedia/en/3/39/The_Weeknd_-_Starboy.png" alt="Weeknd">
                                    </a>
                                </div>
                        </figure2>
                    </div>
                    <div class="col s3">
                        <figure2>
                            <figcaption>My Dear Melancholy</figcaption>
                                <div class="square--portrait">
                                    <a href="https://www.qries.com/">
                                        <img src="https://media.pitchfork.com/photos/5ac234a8ad9bce569e0acf13/1:1/w_320/My%20Dear%20Melancholy,.jpg" alt="Weeknd">
                                    </a>
                                </div>
                        </figure2>
                    </div>
                    <div class="col s3">
                        <figure2>
                            <figcaption>After Hours</figcaption>
                                <div class="square--portrait">
                                    <a href="https://www.qries.com/">
                                        <img src="https://upload.wikimedia.org/wikipedia/en/c/c1/The_Weeknd_-_After_Hours.png" alt="Weeknd">
                                    </a>
                                </div>
                        </figure2>
                    </div>
                </div>
                
        </div>

        <footer class="page-footer">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <h5 class="">Euphoria Records!</h5>
                        <p class="">123 Euphoria Ave</p>
                        <p class="">Washington, DC 20060</p>
                    </div>
                    <div class="col l4 offset-l2 s12">
                        <h5 class "black-text">Links</h5>
                        <ul>
                            <li>
                                <a class="" href="https://www.instagram.com/euphoriarecords">Instagram</a>
                            </li>
                            <li>
                                <a class="" href="https://www.twitter.com/euphoriarecords">Twitter</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <p>© 2021 Team Euphoria</p>
            </div>
        </footer>

        <!-- {% block body %}
        {% endblock %} -->

    </body>
</html>