
nav, nav ul a {
    color: black !important;
}

body {
    background-size: cover;
    background-image: url("../static/images/hexagons.jpg");
}

.nav-wrapper {
    margin: 0;
    padding: 0;
    width: 100%;
    /* line-height: 1; */
    overflow: hidden;
}

.nav-wrapper li {
    display: inline-block;
}

h3 {text-align: center;}

.container {
    color:black
}

figure {
    float: right;
    width: 100%;
    text-align: center;
    font-style: normal;
    font-size: normal;
    text-indent: 0;
    margin: 0px;
}

.circular--landscape {
    display: inline-block;
    position: relative;
    width: 200px;
    height: 200px; 
    border-radius: 50%;
} 
    
.circular--landscape img {
    width: auto;
    height: 100%;
    margin-left: 0px;
}

.circle {
    height: 200px;
    width: 200px;
    background-color: #bbb;
}

.desc {
    margin-left: auto;
    margin-right: auto;
    /* text-align: center; */
    display: inline-block;
}

figure2 {
    float: right;
    width: 100%;
    text-align: center;
    font-style: normal;
    font-size: 18px;
    text-indent: 0;
    margin: 20px;
}

img {
    object-fit: contain;
    width:350px;
    height:200px;
}

.square--landscape {
    display:inline-block;
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    margin-left: 0px
} 

.square--landscape img {
    max-width: auto;
    height: 100%;
}

.square--portrait {display:inline-block;
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
} 

.square--portrait img {
    width: 100%;
    height: auto;
}

.square {
    position: relative;
    height: 200px;
    width: 200px;
    background-color: #bbb;
    overflow: hidden; 

    object-fit: cover;
}

.page-footer {
    background-color: #ffffff !important;
    color: #000000 !important;
}

.footer-copyright p{
    color: black;
    text-align: center;
    width: 100%;
}