<!DOCTYPE html>
<html>
    <head>

        <title>
            Homepage
        </title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="https://twemoji.maxcdn.com/2/svg/1f4fd.svg">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        
        <style>
            nav, nav ul a {color: black;}
            body {
                background-size: cover;
                background-image: url("../static/images/hexagons.jpg");
            }
        </style>

    </head>
    <body>
        
        <nav class="white">
            <div class="nav-wrapper">

                <ul class="left hide-on-med-and-down">
                    {% if username %}
                    <li><a href="">Profile</a></li>
                    <li>Welcome back, {{username}}!</li>
                    {% else %}
                    <li>Register/Log in for more features!</li>
                    {% endif %}
                </ul>

                <a href="./" class="brand-logo black-text center" style="font-size: 40px;">Euphoria Records</a>

                <ul class="right hide-on-med-and-down">
                    {% if username %}
                    <li><a href="/logout">Log Out</a></li>
                    {% else %}
                    <li><a href="/login">Log In</a></li>
                    {% endif %}
                    <li><a href="/signup">Sign Up</a></li>
                </ul>

            </div>
        </nav>

        <form method="POST">
            <input type="hidden" name="username" value="{{username}}">
            <input type="hidden" name="album" value="Hello">
            <button name="favorite" value="favorite">Favorite</button>
        </form>

    </body>
</html>